.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.grid-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.grid-title {
    font-size: 1.2em;
    margin-top: 10px;
}

.grid-author {
    font-size: 1em;
    color: #555;
    margin-top: 5px;
}

.grid-description {
    font-size: 0.9em;
    color: #777;
    margin-top: 10px;
}

.end-of-photos {
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin: 20px 0;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.loading {
    text-align: center;
    font-size: 1.2em;
    color: #007bff; /* Blue color to indicate loading */
    margin: 20px 0;
    padding: 20px;
}


/* Responsive */
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}